$btn-color: #1570ef;
$border-color: #d0d5dd;
$title-color: #101828;
$p-color: #475467;

.app__contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 64px 0px 96px 0px;
	gap: 64px;
	max-width: 1440px;
	@media (max-width: 610px) {
		padding: 64px 0;
		gap: 48px;
		margin: 0 2rem;
	}
	@media (max-width: 500px) {
		margin: 0 1rem;
	}
}

@mixin p-tag {
	color: $p-color;
	font-family: "Inter";
	font-weight: 400;
}

.app__contact-title {
	margin: 2rem 0;
	h2 {
		font-size: 36px;
		color: $title-color;
		line-height: 44px;
	}
	p {
		@include p-tag();
		font-size: 20px;
		line-height: 30px;
	}
	@media (max-width: 610px) {
		p {
			font-size: 18px;
		}
	}
	@media (max-width: 500px) {
		p {
			font-size: 13px;
		}
	}
	@media (max-width: 380px) {
		p {
			font-size: 11px;
		}
	}
}
@mixin border {
	border-radius: 8px;
	border: 1px solid $border-color;
}
form {
	.input-text {
		display: flex;
		width: 100%;
		margin-bottom: 2rem;
		.input-text-1,
		.input-text-2 {
			display: flex;
			flex-direction: column;
			width: 100%;
			&:first-child {
				margin-right: 1rem;
			}
		}
		@media (max-width: 500px) {
			flex-direction: column;
			.input-text-2 {
				margin-top: 1rem;
			}
		}
	}
	.email {
		display: flex;
		width: 100%;
		margin-bottom: 2rem;
		flex-direction: column;
		input {
			display: flex;
		}
	}
	.msg {
		display: flex;
		width: 100%;
		margin-bottom: 2rem;
		flex-direction: column;
		textarea {
			resize: none;
			height: 150px;
		}
	}
	.checkbox {
		display: flex;
		align-items: center;
		margin-bottom: 2rem;
		input {
			-webkit-appearance: none;
			appearance: none;
			margin-right: 0.7rem;
			height: 20px;
			width: 20px;
			border-radius: 6px;
			border: 1px solid $border-color;
			box-sizing: border-box;
			cursor: pointer;
			margin-top: 6px;
		}
		input.checked {
			position: relative;
			border: 1px solid $btn-color;

			&::before {
				content: "\2714";
				font-size: 1.3em;
				color: $btn-color;
				position: absolute;
				right: 3px;
				top: -4px;
				rotate: 12deg;
			}
		}
		span {
			@include p-tag();
			font-size: 16px;
			line-height: 24px;
			@media (max-width: 610px) {
				font-size: 12px;
			}
			@media (max-width: 500px) {
				font-size: 10px;
			}
			@media (max-width: 380px) {
				font-size: 9px;
			}
		}
	}

	.btn {
		display: flex;
		button {
			width: 100%;
			background: $btn-color;
			cursor: pointer;
			border: none;
			color: #fff;
			box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
			border-radius: 8px;
			border: 1px solid #1570ef;
			padding: 12px 20px;
			&:hover {
				background: #074eb3;
			}
		}
	}
}
label {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
}

input,
textarea {
	@include border();
	padding: 0.5rem 10px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	margin-top: 10px;

	outline: none;
	&:focus {
		border: 1px solid $btn-color;
	}
}
